body {
  background-color: lightblue;
}
p1 {
  position: absolute;
  font-size: 30px;
  color: purple;
  font-family: sans-serif;
  text-decoration: bold;
  bottom: 50;
  float: middle;

}

body1 {
  position: absolute;
  left: 330px;
  top: 315px;
  
}

style2 {
  position: absolute;
  right: 400px;
  top: 310px;
}

style3 {
 position: absolute;
 left: 338px;
 bottom: 200px;
  
}
  
style4 {
  position: absolute;
  right: 425px;
  bottom: 200px;
  
}

style5 {
  position: absolute;
  left: 260px;
  top: 60px;
  color: white;
 
}

a {
  color: white;
  
}
    
