body {
  background-color: lightblue;
}

table {
  
  color: white;
  font-size: 22px;
  font-family: monospace;
  border-color: white;
  border-style: dotted;
  border-width: 2px;
}

table, th, td {
  border: 2px white;
}


  
style1 {
  top: 300px;
  position: absolute;
 font-size: 30px;
 font-family: monospace;
  float: left;
}

style2 {
  float: right;
  font-size: 24px;
  font-family: monospace;
}
