body {
  background-color: lightblue;
}

table {
  
  color: white;
  font-size: 22px;
  font-family: monospace;
  border-color: white;
  border-style: dotted;
  border-width: 2px;
}

table, th, td {
  border: 2px white;
}

a {
  position: absolute;
 font-size: 24px;
 font-family: monospace;
 bottom: 10px;
}
  
style1 {
  position: absolute;
 bottom: 20px;
 left: 20px;
 font-size: 24px;
 font-family: monospace;
}
