body {
  background-color: lightblue;
}


h {
  font-size: 38px;
  text-decoration: bold, underline;
  font-family: sans-serif;
  color: white;
}

p {
  font-family: cursive;
  text-decoration: italic;
  font-size: 25px;

}

style1 {
  float: left;
  font-size: 30px;
}

style2 {
  float: right;
  font-size: 30px;
}
