body {
  background-color: lightblue;
}

h {
  font-size: 27px;
  font-family: sans-serif;
  text-decoration: bold;
}

p {
  font-size: 20px;
  font-family: monospace;
}

p1 {
  font-size: 20px;
  font-family: monospace;
}

p2 { 
  font-size: 20px;
  font-family: monospace;
}

style1 {
font-size: 24px;
float: left;
}

style2 {
  font-size: 24px;
  float: right;
}
