body {
  background-color: lightblue;
}

table {
  
  color: white;
  font-size: 22px;
  font-family: monospace;
  border-color: white;
  border-style: dotted;
  border: 2px;
}

table, th, td {
  border: 2px white;
}
