body {
  background-color: lightblue;

}

body1 {
  position: absolute;
  left: 100px;
  top: 100px;
  
}

style2 {
  position: absolute;
  right: 175px;
  top: 250px;
}

style3 {
 position: absolute;
 left: 100px;
 bottom: 50px;
  
}
  
