body {
  background-color: lightblue;
  border-style: dotted;
  border-color: blue;
}
h { 
  font-family: monospace;
  font-size: 22px;
  }

p {
  font-family: monospace;
  font-size: 18px;
}

a {
  font-size: 30px;
}

style1 {
  float: left;
}

style2 {
  float: right;
}

style3 {
  text-align: middle;
}

img {
  border-color: yellow;
  border-style: dotted;
}
